/venv
__pycache__
/parameterchange/store
/sortingfiles/source
/frames_work/save_frame
/frames_work/source_video
/frames_work/venv
/ffmpeg/frame_dire
/ffmpeg/source_video
/ffmpeg/test.py
/ffmpeg/venv
/frame_video/video
/frame_video/video_frame
/frame_video/frame_video
/ffmpeg/.vscode
/frames_work/project.avi
/ffmpeg/test
